@model FileInfo[]
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button type="button" class="btn btn-primary add-row" onclick="showFileUpload()">Upload File</button>
<br />
<br />
@Html.ActionLink("Download List of files", "DownloadCSV")
<br />
<br />
<div>

    <table class="table">
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                File Extension
            </th>
            <th>
                File location
            </th>
            <th>
                File size
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Download", "download", new { filepath = item.FullName, name = item.Name })
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Extension
                </td>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Length
                </td>

            </tr>
        }
    </table>

</div>



<div class="modal fade" id="FileUpload" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="UploadDoc" class="modal-body">
                <div id="UploadContent">
                    @using (Html.BeginForm("UploadDocument", "uploader", FormMethod.Post, new { id = "uploader", enctype = "multipart/form-data" }))
                    {
                        <h2>Upload a File</h2>
                        <br />
                        <span style="color: red;">File size is restrited to 1GB</span>
                        <br />
                        <label>File: </label>
                        <input type="file" name="Document" id="Document" />
                        <br />
                        <br />
                        <button class="btn btn-sm btn-primary" id="uploadFile"> Submit File </button>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script>

	function showFileUpload() {
	    $('#FileUpload').modal('show');
	}

	document.getElementById('uploader').onsubmit = function () {
	    var formdata = new FormData();
        var fileInput = document.getElementById('Document');
        var fileType = $("#Document").val();
	    var url = '@Url.Action("UploadJsonDocument", "uploader")';
	    console.log(url);
	    for (i = 0; i < fileInput.files.length; i++) {
	        formdata.append(fileInput.files[i].name, fileInput.files[i]);
	    }
	    var xhr = new XMLHttpRequest();
	    xhr.open('POST', url);
	    xhr.send(formdata);
	    xhr.onreadystatechange = function () {
	        console.log(xhr);
	        if (xhr.readyState == 4 && xhr.status == 200) {
	            console.log(xhr.responseText);
	            var jsonResponse = JSON.parse(xhr.responseText);
	            console.log(jsonResponse);
                $('#FileUpload').modal('hide');
                location.reload();
	        }
	    }
	    return false;
	}

</script>
